
body {
  background-color: #E8ECEF;
}

.centered {
    padding-top: 200px;
    text-align: center;
}

.secret-text {
  /* text-align: center; */
  font-size: 2rem;
  color: #fff;
  background-color: #000;
  margin: 0;
  padding: 10px 10%;
  height: 250px;
  display: flex;
  align-items:center;
  justify-content:center;
}

.error-msg {
  text-align: center;
  margin: 0 0 0 10px;
  color: red;
  display: inline-block;
}